<% content_for :title, "Password Reset" %>
<div class="container">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <h1>Reset Password</h1>
         <%= form_for(:reset, url: password_resets_path) do |f| %>
         <div class="form-group">
            <%= f.label :email, "Email Adress" %><br/>
            <%= f.email_field :email, required: true, :class => "form-control" %>
         </div>
         <%= f.submit "Reset Password", class: "btn btn-primary" %>
         <% end %>
      </div>
   </div>
</div>