<h1>Account Activation</h1>

<p>
  <%= @greeting %>, you're receiving this mail since you requested a password reset link at <a href="https://sample-app-rort.herokuapp.com/password_reset/new">Our Sample App</a>. This is your password reset link.

  <%= link_to "Click Here To Reset Your Password", edit_password_reset_url(@user.reset_token, email: @user.email), target: "_blank" %>
</p>
